---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="about-section">
    <h2>About</h2>
    <div>
      <b>faceless</b> is s an interactive anonymous messaging web app Create your
      Profile Link and Send it to all your contacts to check what do your friends
      think about you. With the help of <b>faceless</b>, you can send and
      recieve anonymous compliments easily for free!
    </div>
  </section>
</Layout>
<style>
  .about-section {
    font-family: Arial, Helvetica, sans-serif;

    background-color: #222222;
    color: white;
    height: 100vh;
    width: 60%;
    margin: auto;
  }
  .about-section h2 {
    text-align: center;
  }
</style>
