---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
		<section id="whatsThis">
		<h2>Whats This?</h2>
		<p class="description">
It presents anonymity in a new way. We think that maintaining your anonymity should be a joyful and secure environment where you can speak your mind freely. The lack of a safe place for young people to express their emotions free from peer pressure or cultural expectations. For teenagers, ShadowMsg offers this secure environment.
		</p>
		</section>
	</main>
</Layout>

<style>
.description{
	font-size:1.3rem;
}


</style>
